.addCakesForm input {
   font-size:1.3em;
   padding:1rem;
   width:100%;
   margin:0.5vh;
}

.addCakesForm p {
    float:left;
    margin:0.4rem;
    margin-right:2rem;
}

.addCakesForm button {
    margin-right:0.4rem;
}